@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&family=Merriweather:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,500;1,100;1,300&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #8DA6B4;
}

.navbar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0%;
  right: 0%;
  width: 100%;
  height: 80px;
  background-color: #a2b9bc;
  border-bottom: 1.9px solid black;
  -webkit-box-shadow: 0px 0.5px 10px #000;
          box-shadow: 0px 0.5px 10px #000;
}

.navbar__logo {
  position: absolute;
  display: block;
  left: 2%;
  top: 50%;
  -webkit-transform: translate(2%, -50%);
          transform: translate(2%, -50%);
  width: 310px;
  height: 54px;
}

.navbar__phone_menu {
  position: absolute;
  display: none;
  right: 10%;
  top: 50%;
  -webkit-transform: translate(10%, -50%);
          transform: translate(10%, -50%);
  width: 50px;
  height: 50px;
}

.navbar__container {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.navbar__btn {
  position: relative;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 12rem;
  font-family: Raleway;
  font-size: 26px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 16px;
  margin-right: 16px;
  color: #2f4042;
  text-decoration: none;
}

.navbar__btn:hover {
  color: #d3556a;
}

.navbar__btn--active {
  color: blanchedalmond;
}

.slide_show__container {
  position: absolute;
  width: 750px;
  left: 50%;
  top: 20%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  overflow: hidden;
  border: 2px solid #eb85e2;
}

.slide_show__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
}

#slide_show__btn1 {
  position: absolute;
  left: 31%;
  top: 45%;
  width: 30px;
  height: 30px;
  background-color: yellow;
}

#slide_show__btn2 {
  position: absolute;
  left: 67%;
  top: 45%;
  background-color: yellow;
  width: 30px;
  height: 30px;
}

@media (max-width: 1600px) {
  .navbar__logo {
    width: 300px;
    height: 54px;
  }
  .navbar__btn {
    right: 7rem;
  }
}

@media (max-width: 1000px) {
  .navbar__logo {
    width: 260px;
    height: 50px;
    left: 1%;
    top: 50%;
    -webkit-transform: translate(1%, -50%);
            transform: translate(1%, -50%);
  }
  .navbar__btn {
    right: 2rem;
  }
}

@media (max-width: 750px) {
  .navbar__logo {
    width: 260px;
    height: 50px;
    left: 1%;
    top: 50%;
    -webkit-transform: translate(1%, -50%);
            transform: translate(1%, -50%);
  }
  .navbar__phone_menu {
    position: absolute;
    display: block;
    right: 10%;
    top: 50%;
    -webkit-transform: translate(10%, -50%);
            transform: translate(10%, -50%);
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 8px;
  }
  .navbar__container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  .navbar__btn, .navbar__container {
    top: 135px;
    width: 100%;
    left: 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar__btn {
    border: 2px solid black;
  }
  .navbar__btn {
    position: relative;
    display: block;
    font-family: Raleway;
    font-size: 26px;
    text-align: center;
    margin: 0px;
    padding: 6px;
    background-color: #b2d3d4;
  }
}
/*# sourceMappingURL=style.css.map */