@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&family=Merriweather:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,500;1,100;1,300&display=swap');

// Varibles

// Colors

//Old
$primary_1: #a2b9bc;
$primary_2: #8DA6B4;
$primary_3: #b2ad7f;
$primary_4: #878f99;

$background: #3582AE;
$navbar: #1E4860;

// Fonts
$Font_Comfortaa: Comfortaa;
$Font_Raleway: Raleway;

//Size
*{
    box-sizing: border-box;
    margin: 0;
}


// Backgrounds

body{
background-color: $primary_2;
}


// Navbar
.navbar{
    position: fixed;
    display: flex;
    top: 0%;
    right: 0%;

    z-index: 99;

    width: 100%;
    height: 80px;

    background-color: $primary_1;
    border-bottom: 1.9px solid black;
    box-shadow: 0px 0.5px 10px #000;

    &__logo{
        position: absolute;
        display: block;

        left: 2%;
        top: 50%;
        transform: translate(2%,-50%);
    
        width: 310px;
        height: 54px;
    }

    &__phone_menu{
        position: absolute;
        display: none;
        
        right: 10%;
        top: 50%;
        transform: translate(10%,-50%);
    
        width: 50px;
        height: 50px; 
    }


    &__container{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: end;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    &__btn{
        position: relative;
        display: block;
        display: flex;
    
        right: 12rem;    
    
        font-family: $Font_Raleway ;
        font-size: 26px;
    
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 16px;
        margin-right: 16px;
        
        color: #2f4042;
        text-decoration: none;
    } 

    &__btn:hover{
        color: rgb(211, 85, 106);
    } 

    &__btn--active{
       color: blanchedalmond;
    }   

}

// Slide Show
.slide_show__container{
    position: absolute;
    width: 750px;

    left: 50%;
    top: 20%;
    transform: translate(-50%);
    // margin: 200px;
    overflow: hidden; // Error if the imgs have different width!
    border: 2px solid rgb(235, 133, 226);
}

.slide_show__slide{
    display: flex;
    // width: 400px;
    height: 500px;
    // border: 2px solid blue;
}

.prev_btn_container{
    position: absolute;
    display: none;
    left: 1%;
    top: 48%;
    z-index: 10;
}

.next_btn_container{
    position: absolute;
    display: none;
    right: 6%;
    top: 48%;
    z-index: 10;
}

.prev_btn{
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    fill: white;
    transform: scale(1.3);
    // border: 2px solid brown;
    border-radius: 20px;
}

.next_btn{
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    fill: white;
    transform: scale(1.3);
    padding-left: 3px;
    padding-top: 1px;
    // border: 2px solid brown;
    border-radius: 20px;
}

.slide_show__container:hover  .prev_btn_container{
    display: block;
}

.slide_show__container:hover  .next_btn_container{
    display: block;
}

.prev_btn_container, .next_btn_container{
    animation: transitionIn 1.5s;
}


// Slide Show Points
.p1{
    position: relative;
    left: 40%;
    top: 720px;
    margin-left: 40px;
    width: 30px;
    height: 30px;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-18deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
};

@media (max-width: 1600px){
    .navbar{
        &__logo{
            width: 300px;
            height: 54px;
        }

        &__btn{
            right: 7rem;    
        } 
    }
};

@media (max-width: 1000px){
    .navbar{
        &__logo{
            width: 260px;
            height: 50px;
           
            left: 1%;
            top: 50%;
            transform: translate(1%,-50%);
        }   

        &__btn{
            right: 2rem;    
        } 
    }
};

@media (max-width: 750px){
    .navbar{
    
        &__logo{
            width: 260px;
            height: 50px;
           
            left: 1%;
            top: 50%;
            transform: translate(1%,-50%);
        }    

        &__phone_menu{
            position: absolute;
            display: block;
            
            right: 10%;
            top: 50%;
            transform: translate(10%,-50%);
        
            width: 50px;
            height: 50px; 

            border: 2px solid black;
            border-radius: 8px;
        }
    
        &__container{
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }
    
        &__btn, &__container{
            top: 135px;

            width: 100%;
            left: 0%;
           

            flex-direction: column;

            justify-content: center;
            
            // border: 2px solid black;
        }
        
        &__btn{
            border: 2px solid black;
        }

        &__btn{
            position: relative;
            display: block;
        
            font-family: $Font_Raleway ;
            font-size: 26px;
            text-align: center;

            margin: 0px;
            padding: 6px;
            
            background-color: rgb(178, 211, 212);

        } 
    }

    .slide_show__container{
        position: absolute;
        width: 380px;
    
        left: 50%;
        top: 40%;
        transform: translate(-50%);
        // margin: 200px;
        overflow: hidden; // Error if the imgs have different width!
        border: 2px solid rgb(235, 133, 226);
    }
    
    .slide_show__slide{
        display: flex;
        // width: 400px;
        height: 260px;
        // border: 2px solid blue;
    }
    
    .slide_show__btn1:hover, .slide_show__btn2:hover{
         border: 2px solid rgb(255, 255, 255);
    }

    .prev_btn_container{
        left: 1%;
        top: 48%;
    }
    
    .next_btn_container{
        right: 8%;
        top: 48%;
    }
};
