@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&family=Merriweather:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,500;1,100;1,300&display=swap');

// Varibles

// Colors

//Old
$primary_1: #a2b9bc;
$primary_2: #8DA6B4;
$primary_3: #b2ad7f;
$primary_4: #878f99;

$background: #3582AE;
$navbar: #1E4860;

// Fonts
$Font_Comfortaa: Comfortaa;
$Font_Raleway: Raleway;

//Size
*{
    box-sizing: border-box;
    margin: 0;
}


// Backgrounds

body{
background-color: $primary_2;
}


// Navbar
  //TODO
.navbar{
    position: fixed;
    display: flex;
    top: 0%;
    right: 0%;

    width: 100%;
    height: 80px;

    background-color: $primary_1;
    border-bottom: 1.9px solid black;
    box-shadow: 0px 0.5px 10px #000;

    &__logo{
        position: absolute;
        display: block;

        left: 2%;
        top: 50%;
        transform: translate(2%,-50%);
    
        width: 310px;
        height: 54px;
    }

    &__phone_menu{
        position: absolute;
        display: none;
        
        right: 10%;
        top: 50%;
        transform: translate(10%,-50%);
    
        width: 50px;
        height: 50px; 
    }


    &__container{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: end;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    &__btn{
        position: relative;
        display: block;
        display: flex;
    
        right: 12rem;    
    
        font-family: $Font_Raleway ;
        font-size: 26px;
    
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 16px;
        margin-right: 16px;
        
        color: #2f4042;
        text-decoration: none;
    } 

    &__btn:hover{
        color: rgb(211, 85, 106);
    } 

    &__btn--active{
       color: blanchedalmond;
    }   

}


.btn{
    position: absolute;
    display: block;
    left: 50px;
    top: 300px;
}

.p{
    position: absolute;
    display: block;
    top: 400px;

}

.pb{
    position: absolute;
    display: block;
    top: 350px;
    left: 30px;
    font-size: 20px;
border: 2px solid black;
}

@media (max-width: 1600px){
    .navbar{
        &__logo{
            width: 300px;
            height: 54px;
        }

        &__btn{
            right: 7rem;    
        } 
    }
}

@media (max-width: 1000px){
    .navbar{
        &__logo{
            width: 260px;
            height: 50px;
           
            left: 1%;
            top: 50%;
            transform: translate(1%,-50%);
        }   

        &__btn{
            right: 2rem;    
        } 
    }
}

@media (max-width: 750px){
    .navbar{
    
        &__logo{
            width: 260px;
            height: 50px;
           
            left: 1%;
            top: 50%;
            transform: translate(1%,-50%);
        }    

        &__phone_menu{
            position: absolute;
            display: block;
            
            right: 10%;
            top: 50%;
            transform: translate(10%,-50%);
        
            width: 50px;
            height: 50px; 

            border: 2px solid black;
            border-radius: 8px;
        }
    
        &__container{
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }
    
        &__btn, &__container{
            top: 135px;

            width: 100%;
            left: 0%;
           

            flex-direction: column;

            justify-content: center;
            
            // border: 2px solid black;
        }
        
        &__btn{
            border: 2px solid black;
        }

        &__btn{
            position: relative;
            display: block;
        
            font-family: $Font_Raleway ;
            font-size: 26px;
            text-align: center;

            margin: 0px;
            padding: 6px;
            
            background-color: rgb(178, 211, 212);

        } 
    }
}





